.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #494f5c;
  height: 65px;
  margin-bottom: 0.05em;
  top: 0;
  left: 0;
  /* width: 100%; */
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 0 26px;
  width: 100%;
}
.header .big-logo {
  width: 100px;
  height: auto;
}
.header .small-logo {
  display: none;
  width: 35px;
  height: auto;
}
.search-bar {
  height: 42px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-left: auto;
}
.top-search {
  background-color: #7d828a;
  color: #16181d;
  font-size: 1vw;
  font-weight: bold;
  width: 400px;
  height: 42px;
  border: none;
  border-radius: 3px;
  padding-left: 15px;
  box-sizing: border-box;
}
.top-search::placeholder {
  font-weight: 700;
  font-size: 1.2vw;
  color: #494f5c;
}
.search-button {
  background-color: #7d828a;
  color: #494f5c;
  border: none;
  height: 42px;
  margin-left: -30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.search-icon {
  color: #494f5c;
  font-size: 1.5vw;
}
.icon {
  color: #d8d8da;
}
.account-icon {
  font-size: 3vw;
  color: #d8d8da;
}
.account-details {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
}
@media screen and (max-width: 900px) {
  /*
    search bar spans full width to small logo
    top-nav items move to tabs on the bottom
  */
  .header .big-logo {
    display: none;
  }
  .header .small-logo {
    display: block;
  }
}
@media screen and (max-width: 750px) {
  /* 
        Hamburger menu replaced middle nav
        Actions items shows wishlist and cart only (no wallet)
        Nav drawer from left
        Nav hides on scroll
    */
}
/* no impact on nav
@media screen and (max-width: 520px) {
}
*/
