footer.footer 
    div.brand-and-promo 
        div.brand-logo 
            img.footer-logo(src='/static/images/humble_logo.svg')
        div.invite-entice 
            span Limited time offer&mdash;Get $8 Wallet Credit to spend on your next store purchase! 
            a invite a friend 
    div.footer-about.wide-col-2 
        div.footer-heading
            h3 About
        div.footer-item.about-item
            a Blog 
        div.footer-item.about-item
            a Support 
        div.footer-item.about-item
            a Order Resender 
        div.footer-item.about-item
            a Developer 
    div.footer-trending.wide-col-2
        div.footer-heading 
            h3 Trending Games 
        div.footer-item.trending-item
            a Death Stranding 
        div.footer-item.trending-item
            a F1 2020 Seventy Edition 
        div.footer-item.trending-item
            a SWORD ART ONLINE Alicization Lycoris 
        div.footer-item.trending-item
            a DRAGON QUEST XI: Echoes of an Elusive Age &mdash; Digital Edition of Light 
        div.footer-item.trending-item
            a FINAL FANTASY XV EPISODE ARDYN COMPLETE EDITION 
        div.footer-item.trending-item
            a F1 Deluxe Schumacher Edition 
        div.footer-item.trending-item
            a Dying Light: The Following &mdash; Enhanced Edition 
        div.footer-item.trending-item
            a Dead by Daylight 
    div.footer-social-and-legal 
        div.footer-language 
            ion-icon(name="globe", class="icon footer-icon")
            span Language: English
            ion-icon(name="caret-down", class="icon footer-icon")
        div.footer-social 
            div.social-icon
                i(data-feather="facebook", class="icon footer-icon facebook-icon")
                //ion-icon(name="logo-facebook", class="icon footer-icon facebook-icon")
            div.social-icon
                ion-icon(name="logo-twitter", class="icon footer-icon twitter-icon")
            div.social-icon
                ion-icon(name="logo-instagram", class="icon footer-icon instagram-icon")
            div.social-icon
                ion-icon(name="radio", class="icon footer-icon")
        div.footer-donations-blurb 
            span The Humble community has contributed over $183,000,000 to charity since 2010, making an amazing difference to causes all over the world.
        div.footer-legal
            div.footer-item.legal-item
                a Terms of Service 
            div.footer-item.legal-item 
                a Privacy Policy 
            div.footer-item.legal-item 
                a Cookie Policy 
            div.footer-item.legal-item 
                a Legal Notices 