header.header
    div.header-container
        div.logo 
            img.big-logo(src='/static/images/humble_logo.svg')
            img.small-logo(src='/static/images/humble_logo_small.svg')
        include top-nav.pug
        div.search-bar
            input.top-search(placeholder="Search")
            div.search-button
                i.search-icon(data-feather="search")
            
