nav.store-nav
    div.store-nav-container
        div.nav-item.store-nav-item
            a on sale 
        div.nav-item.store-nav-item 
            a new releases
        div.nav-item.store-nav-item  
            a bestselling 
            ion-icon(name="caret-down", class="icon")
        div.nav-item.store-nav-item 
            a browse 
            ion-icon(name="caret-down", class="icon") 
        div.nav-item.store-nav-item 
            a charity 
        div.nav-item.enticement 
            a get $8 wallet credit 
    div.site-services-container 
        div.nav-item.store-nav-item 
            ion-icon(name="wallet", class="icon service-icon")
            a $0.00
        div.nav-item.store-nav-item 
            ion-icon(name="star", class="icon service-icon")
            a 2
        div.nav-item.store-nav-item 
            ion-icon(name="cart", class="icon service-icon")
            a 0
