div.top-nav.nav-item
    div.nav-item
        a 9 bundles
        ion-icon(name="caret-down", class="icon")
    div.nav-item
        a choice
    div.nav-item
        a store
    div.nav-item
        a about
        ion-icon(name="caret-down", class="icon")